body{
	font-style: 'Helvetica Neue', 'Arial', 'sans serif';
	background-color:#C5DEE3;
}

.main{
	width:100%;
	padding:20px;
	-webkit-perspective: 800px;
	-webkit-perspective-origin: 200px 100px;
}

h1{
	margin-bottom:0;
}

.menu{
	background-color:#E8F8FA;
	display:block;
	opacity:.5;
	border-radius:5px;
}

.menu:hover{
	opacity:1;
}

.menu label{
	font-size:14px;
	width:90px;
	display:inline-block;
	text-align: left;
}

.menu.properties{
	width:200px;
	padding:10px;
	margin-top:30px;
}

.bbox-wrap{
	position:absolute;
	top:250px;
	left:400px;
}

ul{
	list-style-type: none;
}

.bbox{
	display:inline-block;
	position: relative;
	top:0;
	left:100px;
	width: 200px;
	-webkit-transform-style: preserve-3d;
	padding:0;
}

.bbox .face{
	position: absolute;
	width: 200px;
	height: 200px;
	pointer-events:none;
}

li.core{
	position:absolute;
	top:-5px;
	left:-5px;
	width:10px;
	height:10px;
	background-color:#5e5e5e;
	cursor:pointer;
}

.handle{
	position:absolute;
	top:-4px;
	left:-4px;
	width:8px;
	height:8px;
	background-color:#999;
	cursor:pointer;
}

.face.front {
	-webkit-transform: translateX(-100px) translateZ(100px) translateY(-100px);
	border:1px dashed #bbb;
}
.face.back {
	-webkit-transform: translateX(-100px) translateZ(-100px) translateY(-100px);
	border:1px dashed #bbb;
}
.face.upper {
	-webkit-transform: translateX(-100px) translateY(-100px) rotateX(90deg) translateZ(100px);
	border-right:1px dashed #bbb;
	border-left:1px dashed #bbb;	
}
.face.lower {
	-webkit-transform: translateX(-100px) translateY(-100px) rotateX(90deg) translateZ(-100px);
	border-right:1px dashed #bbb;
	border-left:1px dashed #bbb;
}

.vertex.top{
	border-top:1px solid red;
	width:100%;
	position:absolute;
	top:0;
	left:0;
}
.vertex.bottom{
	border-top:1px solid red;
	width:100%;
	position:absolute;
	top:100%;
	left:0;
}
.vertex.left{
	border-left:1px solid red;
	height:100%;
	position:absolute;
	top:0;
	left:0;
}
.vertex.right{
	border-left:1px solid red;
	height:100%;
	position:absolute;
	top:0;
	left:100%;
}
