body{
	font-style: 'Helvetica Neue', 'Arial', 'sans serif';
	background-color:#C5DEE3;
}

.main{
	width:100%;
	padding:20px;
	-webkit-perspective: 800px;
	-webkit-perspective-origin: 200px 100px;
}

h1{
	margin-bottom:0;
}

.menu{
	background-color:#E8F8FA;
	display:block;
	opacity:.5;
	border-radius:5px;
}

.menu:hover{
	opacity:1;
}

.menu label{
	font-size:14px;
	width:90px;
	display:inline-block;
	text-align: left;
}

.menu.properties{
	width:200px;
	padding:10px;
	margin-top:30px;
}

.bbox-wrap{
	position:absolute;
	top:250px;
	left:400px;
}

ul{
	list-style-type: none;
}

.bbox{
	display:inline-block;
	position: relative;
	top:0;
	left:100px;
	width: 200px;
	-webkit-transform-style: preserve-3d;
	padding:0;
}

.bbox .face{
	position: absolute;
	width: 200px;
	height: 200px;
	pointer-events:none;
}

li.core{
	position:absolute;
	top:-5px;
	left:-5px;
	width:10px;
	height:10px;
	background-color:#5e5e5e;
	cursor:pointer;
}

.handle{
	position:absolute;
	top:-4px;
	left:-4px;
	width:8px;
	height:8px;
	background-color:#999;
	cursor:pointer;
}

.face.front {
	-webkit-transform: translateX(-100px) translateZ(100px) translateY(-100px);
}
.face.back {
	-webkit-transform: translateX(-100px) translateZ(-100px) translateY(-100px);
}
.face.upper {
	-webkit-transform: translateX(-100px) translateY(-100px) rotateX(90deg) translateZ(100px);
}
.face.lower {
	-webkit-transform: translateX(-100px) translateY(-100px) rotateX(90deg) translateZ(-100px);
}

.vertex.top{
	border-top:1px dashed red;
	width:100%;
	position:absolute;
	top:0;
	left:0;
}
.vertex.bottom{
	border-top:1px dashed red;
	width:100%;
	position:absolute;
	top:100%;
	left:0;
}
.vertex.left{
	border-left:1px dashed red;
	height:100%;
	position:absolute;
	top:0;
	left:0;
}
.vertex.right{
	border-left:1px dashed red;
	height:100%;
	position:absolute;
	top:0;
	left:100%;
}


.planetool{
	position:relative;
	border:1px dashed green;
	width:200px;
	height:200px;
	display:block;
	position:absolute;
	pointer-events:none;
}

.planetool.xy{
	-webkit-transform:translateX(-100px) translateY(-100px);
}

.planetool.xz{
	-webkit-transform:translateZ(-100px) rotateX(90deg) translateX(-100px) translateY(100px) translateZ(100px);
}

.planetool.yz{
	-webkit-transform:translateZ(-100px) rotateY(90deg) translateX(-100px) translateY(-100px) translateZ(-100px);
}

.resize-handle{
	background-color:green;
	display:block;	
	position:absolute;
	cursor:pointer;
	pointer-events:auto;
}

.resize-handle.top{
	width:4px;
	height:30px;
	left:50%;
	top:-30px;
	margin-left:-2px;
}

.resize-handle.bottom{
	width:4px;
	height:30px;
	left:50%;
	top:100%;
	margin-left:-2px;
}

.resize-handle.left{
	width:30px;
	height:4px;
	left:-30px;
	top:50%;
	margin-top:-2px;
}

.resize-handle.right{
	width:30px;
	height:4px;
	left:100%;
	top:50%;
	margin-top:-2px;
}


.shear-handle{
	background-color:green;
	display:block;	
	position:absolute;
	cursor:pointer;
	pointer-events:auto;
}

.shear-handle.top{
	width:100%;
	height:2px;
	left:0;
	top:0;
}

.shear-handle.bottom{
	width:100%;
	height:2px;
	left:0;
	top:100%;
}

.shear-handle.left{
	width:2px;
	height:100%;
	left:0;
	top:0;
}

.shear-handle.right{
	width:2px;
	height:100%;
	left:100%;
	top:0;
}